.recipe {
    grid-area: recipe;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 235, 235);
    overflow: hidden;
    align-items: center;

    .recipe-img {
        width: 100%;
        align-self: center;
        height: 40rem;


    }


    .ingradients {
        padding: 0 5rem 0 5rem;
        margin-top: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        

        .ingradient {
            font-size: large;
            margin-bottom: 1rem;
        }
    }

    .go-to {
        padding: 5rem;
        background-image: linear-gradient(to right bottom, #F8D889, #F48982);
        cursor: pointer;
        border-radius: 100px;
        padding: 1rem 2rem;
    }
}