
.list {
    grid-area: list;
    background-color:  honeydew;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .recepies {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-items: space-between;


       
    }
    .pages {
        display: flex;
        justify-content: space-around;

        .previous,
        .next {
            padding: 5rem;
            background-image: linear-gradient(to right bottom, #F8D889, #F48982);
            cursor: pointer;
            border-radius: 100px;
            padding: 1rem 2rem;
        }

        
       
    }
}